<%= render  "shared/header" %>

<div class="main">
  <div class="menu-recipe">
    <div class="menu-make"><%= link_to '献立を立てる', new_menu_path, class: "menu" %></div>
    <div class="recipe-make"><%= link_to 'レシピを投稿する', new_recipe_path, class: "recipe" %></div>
  </div>

  <div class="calendar-name">
    <h1>献立カレンダー</h2>
  </div>

  <div class="calendar">
  <%= month_calendar events: @menus do |date, all| %>
    <%= date.day %>
    <% all.each do |i| %>
      <div>
        <ul class="menu-day">
          <% menu = i.menus_recipes %>
          <% menu.each do |n| %>
            <% name = Recipe.find(n.recipe_id) %>
            <li><%= link_to name.cooking_name, recipe_path(name.id), class: "cook-name" %></li>
          <% end %> 
        </ul>
      </div>
    <% end %>
  <% end %>
  </div>
</div>

<%= render  "shared/footer" %>