<%= render "shared/header" %>

<div class="menu-new-content">
 <%= form_with(model: @menu, local: true) do |form| %>

  <div class="menu-make-form">
    <div class="menu-input">
      <%= form.label :献立の内容 %>
    </div>

    <%= render "devise/shared/error_messages", model: form.object %>

    <div class="menu-input">
      <%= form.date_select :cook_date %>
    </div>

    <div class="menu-input">
      <select name="menu[recipe_ids][]">
        <option value="">主菜は何にしますか？</option>
        <% Recipe.where(side_dishes_id: 2).each do |dishe| %>
          <option value=<%=dishe.id%>><%= dishe.cooking_name %></option>
          <% end %>
      </select>
    </div>

    <div class="menu-input">
      <select name="menu[recipe_ids][]">
          <option value="">福菜は何にしますか？</option>
        <% Recipe.where(side_dishes_id: 3).each do |dishe| %>
          <option value=<%=dishe.id%>><%= dishe.cooking_name %></option>
        <% end %>
      </select>
    </div>

    <div class="menu-input">
      <select name="menu[recipe_ids][]">
          <option value="">福菜は何にしますか？</option>
        <% Recipe.where(side_dishes_id: 3).each do |dishe| %>
          <option value=<%=dishe.id%>><%= dishe.cooking_name %></option>
        <% end %>
      </select>
    </div>

    <div class="menu-input">
      <select name="menu[recipe_ids][]">
          <option value="">汁物は何にしますか？</option>
        <% Recipe.where(side_dishes_id: 4).each do |dishe| %>
          <option value=<%=dishe.id%>><%= dishe.cooking_name %></option>
        <% end %>
      </select>
    </div>

    <div class="submit" >
      <%= form.submit %>
    </div>
  </div>
 <% end %>
</div>
<%= render  "shared/footer" %>