<div id="modal-overlay">
  <div id="modal-content">
    <p>写真をクリックして献立に追加する料理を選択してください</p>
    <div id="menu-list"></div>
    <p><a id="modal-close" class="button-link">閉じる</a></p>
  </div>
</div>

<%= render "shared/header" %>

<div class="menu-new-content">
<%= form_with(model: @menu, local: true) do |form| %>

  <div id="hide-input"></div>

  <div class="menu-make-form">
    <%# <div class="menu-input">
      <%= form.label :献立をつくろう %>
    <%#</div> %>

    <%= render "shared/error_message", model: form.object %>
    <div class="error-text"><%= flash[:notice] %></div>

      <div class="menu-input">
        <p>献立を立てる日付を決めよう</p>
        <%= form.date_select :cook_date %>
      </div>

      <div id="menu-palette"></div>

      <div id="menu-form" class="menu-none">
        <select name="genre" id="genre" class="select-box">
          <option disabled selected>料理のジャンルは？</option>
          <option value="2">和食</option>
          <option value="3">中華</option>
          <option value="4">洋食</option>
          <option value="5">その他</option>
        </select>

        <select name="side-dishes" id="side-dishes" class="select-box">
          <option disabled selected>おかずの種類は？</option>
          <option value="2">主菜</option>
          <option value="3">副菜</option>
          <option value="4">汁物</option>
          <option value="5">その他</option>
        </select>
      </div>

      <div class="sort-btn" id="sort">料理を検索</div>
      <div class="submit" ><%= form.submit "献立を確定する", class: "menu-make-btn"%></div>
  </div>
<% end %>

  <div class="lecture-contents">
    <div class="lecture-title-box">
      <div class="lecture-title">
        アプリ「kondate」で献立を作成する方法
      </div>
    </div>
    <div class="lecture-content">
      <div class="lecture-text">
        1.料理のジャンル、おかずの種類を選択し、「料理を検索」
      </div>
      <div class="lecture-img">
        <%= image_tag 'lecture1.png', width: '100%', height: '100%' %>
      </div>
    </div>
    <div class="lecture-content">
      <div class="lecture-text">
        2.表示される料理を選択
      </div>
      <div class="lecture-img">
        <%= image_tag 'lecture2.jpg', width: '100%', height: '100%' %>
      </div>
    </div>
    <div class="lecture-content">
      <div class="lecture-text">
        3.選択した料理が右の画像のように表示されます
      </div>
      <div class="lecture-img">
        <%= image_tag 'lecture3.png', width: '100%', height: '100%' %>
      </div>
    </div>
    <div class="lecture-content">
      <div class="lecture-text">
        4.①〜③を繰り返し、好みの献立を作り「献立を確定する」をクリック。
          マイページのカレンダーに作成した献立が登録されます。<br>
          ※現状、1度に追加できる料理の数は4つまでとなっています。
      </div>
      <div class="lecture-img">
        <%= image_tag 'lecture4.jpg', width: '100%', height: '100%' %>
      </div>
    </div>
  </div>

</div>

<%= render  "shared/footer" %>