<%= render "shared/header" %>
<div class="registrations-content">

<div class="registrations-text">
  アプリ「kondate」で献立を簡単につくってみよう！
</div>

<h2 class="registrations-title">新規登録</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field registrations-name">
    <%= f.label :お名前 %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name"%>
  </div>

  <div class="field email-box">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field pass-box">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上必要です)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field pass-box">
    <%= f.label :パスワード確認 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>
<div class="user-help">
<%= render "devise/shared/links" %>
</div>
<%= render  "shared/footer" %>
